In [ ]:
# 6.5.2 Create Heatmaps for Weather Parameters

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps 
import requests
# Import the API key. 
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame. 
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-07-26 01:10:53,-23.1203,-134.9692,75.61,74,73,12.68
1,1,Carira,BR,2022-07-26 01:09:10,-10.3608,-37.7011,64.00,95,78,5.17
2,2,Berlevag,NO,2022-07-26 01:10:54,70.8578,29.0864,55.40,87,100,4.61
3,3,Palana,RU,2022-07-26 01:10:54,59.1167,159.9667,53.01,66,10,8.01
4,4,Vitoria Do Mearim,BR,2022-07-26 01:10:54,-3.4622,-44.8706,76.73,74,99,2.57

In [3]:
# Get the data types. 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key. 
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs. 
locations = [latitude, longitude]
# 2. Assign the weights variable to some values. 
temperatures = # an array of length equal to the locations array lenght. 
# 3. Assign the figure variable to the gmaps.figure() attiribute. 
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations. 
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer. 
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data. 
fig

SyntaxError: invalid syntax (1547187921.py, line 4)

In [9]:
# Get the maximum temperature. 
max_temp = city_data_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# 6.5.3 Get Vacation Criteria

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-07-26 01:10:53,-23.1203,-134.9692,75.61,74,73,12.68
4,4,Vitoria Do Mearim,BR,2022-07-26 01:10:54,-3.4622,-44.8706,76.73,74,99,2.57
6,6,Kavaratti,IN,2022-07-26 01:10:55,10.5669,72.6420,81.45,74,43,16.51
8,8,Hithadhoo,MV,2022-07-26 01:10:55,-0.6000,73.0833,82.65,75,41,12.39
13,13,Bethel,US,2022-07-26 01:10:57,41.3712,-73.4140,80.69,86,0,3.44
14,14,Umm Lajj,SA,2022-07-26 01:10:57,25.0213,37.2685,83.61,66,100,6.44
16,16,Praia Da Vitoria,PT,2022-07-26 01:10:58,38.7333,-27.0667,75.76,93,3,2.35
18,18,Biltine,TD,2022-07-26 01:10:58,14.5333,20.9167,86.40,52,31,7.99
19,19,Kavieng,PG,2022-07-26 01:10:59,-2.5744,150.7967,83.82,74,41,16.08
21,21,Atuona,PF,2022-07-26 01:10:59,-9.8000,-139.0333,77.77,66,0,10.36

In [20]:
preferred_cities_df.count()

City_ID       194
City          194
Country       194
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [21]:
# 6.5.4 Map Vacation Criteria

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0             Rikitea      PF     75.61 -23.1203 -134.9692
4   Vitoria Do Mearim      BR     76.73  -3.4622  -44.8706
6           Kavaratti      IN     81.45  10.5669   72.6420
8           Hithadhoo      MV     82.65  -0.6000   73.0833
13             Bethel      US     80.69  41.3712  -73.4140
14           Umm Lajj      SA     83.61  25.0213   37.2685
16   Praia Da Vitoria      PT     75.76  38.7333  -27.0667
18            Biltine      TD     86.40  14.5333   20.9167
19            Kavieng      PG     83.82  -2.5744  150.7967
21             Atuona      PF     77.77  -9.8000 -139.0333

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,75.61,-23.1203,-134.9692,People ThankYou
4,Vitoria Do Mearim,BR,76.73,-3.4622,-44.8706,HOTEL VITÓRIA IMPORTADOS
6,Kavaratti,IN,81.45,10.5669,72.6420,Green leaf
8,Hithadhoo,MV,82.65,-0.6000,73.0833,Scoop Guest House
13,Bethel,US,80.69,41.3712,-73.4140,Courtyard by Marriott Danbury
14,Umm Lajj,SA,83.61,25.0213,37.2685,Moon light Furnished Units
16,Praia Da Vitoria,PT,75.76,38.7333,-27.0667,Hotel Branco I
18,Biltine,TD,86.40,14.5333,20.9167,Hôtel Trois Étoiles de Biltine
19,Kavieng,PG,83.82,-2.5744,150.7967,Nusa Island Retreat
21,Atuona,PF,77.77,-9.8000,-139.0333,Villa Enata

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [39]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))